@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,700&display=swap');

*{
    margin: 0;
    padding: 0;
}
@media only screen and (max-width: 767px) {
    body {
      background-color: #9937b9;
      font-family: Josefin Sans;
    }
    header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        width: auto;
        background-color: #22A619;
    }
    #logo{
        height: 7vh;
        width: 75vw;
    }
    #buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button{
        border: none;
        background-color: #22A619;
        font-size: 6vh;
        font-style: italic;
        font-family: Josefin Sans;
        color: #751197;
        border: #22A619 solid;
        border-radius: 40px;
        margin: 4vh;
        width: 95vw;
        height: 25vh;
    }
    #zorg{
        background-image: url(img/zorg.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    #techniek{
        background-image: url(img/techniek.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .background{
        background-color: white;
    }
    #roster{
        text-align: center;
    }
  }